@font-face {
    font-family: 'Domine';
    src: url(/fonts/Domine/Domine-VariableFont_wght.ttf);
    font-family: 'Montserrat';
    src: url(/fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
    font-family: 'Oswald';
    src: url(/fonts/oswald/oswald-variablefont_wght.ttf);
}

body {
    margin-top: 0px;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    background-color: #000000;
}

p {
    font-size: 18px; 
    padding-right: 40px;
    padding-left: 40px;
}
  
a:visited {
    color: #ffffff;
  }

h1 {
    font-family: 'Domine';
    color: #ffffff;
    font-size: 32px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
}

h3 {
    font-family: 'Oswald';
}

footer {
    color: #ffffff;
    font-family: 'Montserrat';
    text-align: center;
    padding: 10px 10px 10px 10px;
}

.footer {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

/* BASIC CSS UTILITIES FOR HEADER/ NAVBAR */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
nav {
    background: #000000;
    padding: 0 15px;
}
a {
    color: white;
    text-decoration: none;
}
.menu {   
    list-style-type: none;
}
.logo {
    font-size: 20px;
    padding: 7.5px 10px 7.5px 10px;
    font-family: 'Oswald';
}
.item {
    padding: 10px;
    font-family: 'Montserrat';
}
.item.button {
    padding: 9px 5px;
}
.item:not(.button) a:hover,
.item a:hover::after {
    color: #ccc;
}

/* MOBILE MENU */
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.menu li a {
    display: block;
    padding: 15px 5px;
}
.menu li.subitem a {
    padding: 15px;
}
.toggle {
    order: 1;
    font-size: 20px;
}
.item.button {
    order: 2;
}
.item {
    order: 3;
    width: 100%;
    text-align: center;
    display: none;
    font-family: 'Montserrat';
}
.active .item {
    display: block;
}
.button.secondary { /* DIVIDER BETWEEN BUTTONS AND MENU LINKS (IF NEEDED) */
    border-bottom: 1px #444 solid;
}

/* MEDIA QUERY FOR TABLET SCREEN SIZES */
@media (min-width: 600px) {
    .h1-hero-headline {
        font-size: 3rem;
      }
    .about-us {
        font-size: 3rem;
    }
    .menu-hl {
        font-size: 3rem;
    }
  }

/* MEDIA QUERY FOR TABLET */
@media all and (min-width: 700px) {
    .menu {
        justify-content: center;
    }
    .logo {
        flex: 1;
    }
    .item.button {
        width: auto;
        order: 1;
        display: block;
    }
    .toggle {
        flex: 1;
        text-align: right;
        order: 2;
    }
    /* BUTTON UP FROM TABLET SCREEN */
    .menu li.button a {
        padding: 10px 15px;
        margin: 5px 0;
    }
    .h1-hero-headline {
        font-size: 3rem;
      }
    .about-us {
        font-size: 3rem;
    }
    .menu-hl {
        font-size: 3rem;
    }
}

/* MEDIA QUERY FOR DESKTOP */
@media all and (min-width: 1025px) {
    /* MENU STYLING */
    .menu {
        align-items: flex-start;     
        flex-wrap: nowrap;
        background: none;
    }
    .logo {
        order: 0;
    }
    .item {
        order: 1;
        position: relative;
        display: block; 
        width: auto;
    }
    .button {
        order: 2;
    }
    .toggle {
        display: none;
    }
    .h1-hero-headline {
        font-size: 5rem;
      }
    .about-us {
        font-size: 5rem;
    }
    .menu-hl {
        font-size: 5rem;
    }
}

/* MAIN HOMEPAGE SECTION STYLING */
 
  .intro-image {
    background-size: cover;
    width: 100%;
    height: auto;
    position: relative;
  }
  .h1-hero-headline {
    display: flex;
    font-family: 'Domine';
    line-height: 1;
    width: 100%;
    justify-content: center;
    position: absolute;
    top: 15%;
  }

  .hero-cta {
    color: #ffffff;
    background-color: #000000;
    font-family: 'Oswald', 'Avenir', 'Arial', 'sans-serif';
    padding: 1rem 1.2rem;
    border-radius: 0.375rem;
    font-size: 18px;
  }

  .hero-cta:hover {
    background-color: #803208;
  }

  .intro-fix {
    position: relative;
    text-align: center; 
  }

/* ABOUT US SECTION STYLING */
  .about-us-section {
    background-color: #4A0A04;
    color: #ffffff;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
  }
  .about-us {
    padding-bottom: 10px;
  }

  .hand-pepper {
    max-width: 100%;
  }

/* MENU SECTION STYLING */
  .menu-section {
    background-color: #803208;
    color: #ffffff;
    text-align: center;
    padding-bottom: 20px;
  }

  .menu-hl {
    padding-bottom: 10px;
  }

  .strain13 {
    width: 100%;
    height: auto;
    padding: 10px;
    position: left;
  }

  .mulesauce {
    width: 80%;
    height: auto;
    padding: 10px;
    position: left;
  }

/* STYLING FOR BUTTONS THAT OPEN & CLOSE ACCORDIAN */
    .accordion {
        background-color: #000000;
        color: #ffffff;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        text-align: center;
        font-size: 32px;
        border: none;
        outline: none;
        transition: 0.4s;
        font-family: 'Oswald';
    }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 180-px;
    background-color: #803208;
    display: none;
    overflow: hidden;
  }