body {
    margin-top: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFC0CB;
    background-image: url('./images/pattern.png');
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Veranda, sans-serif;
    color: #ffffff;
}